/*li{
    display: inline;
    padding-right: 30px;
}*/
header{
    background-color: navy;
    
}
body{
    margin: 0;
}
nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    background-color: navy;
    padding: 15px;
    
}
nav li{
    list-style-type: none;
    font-size: large;
    position: relative;
}
li{
    background-color:navy;
}
.link{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color:navy;
    padding: 20px;
    top: 100%;
    border-color:  white;
    border-radius: 20px;
    color: white;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.link:hover{
    background-color: rgb(104, 188, 248);
    border-radius: 5px;
}
